Django>=4.2.0,<4.2.99
#south==1.0.2
psycopg2==2.9.9
#django-floppyforms
git+https://github.com/jazzband/django-floppyforms.git
django-crispy-forms>=2.1.0, <2.1.99
#jsonfield==3.1.0
django-leaflet==0.29.1
django-geojson==4.0.0
pyzmq # Verification feed
django-braces==1.15.0
future==1.0.0
python-dateutil
#transitfeed # Read Write GTFS
crispy-bootstrap5==2024.2

# Dev
lxml==5.2.1 # Tests - needs libxml2-dev libxslt-dev packages



