Django>=2.2.9,<2.2.99
south==1.0.2
psycopg2==2.8.3
#django-floppyforms
git+https://github.com/jazzband/django-floppyforms.git
django-crispy-forms==1.7.0
django-guardian==1.4.9
jsonfield==2.0.2
django-leaflet==0.23.0
django-geojson==2.11.0
pyzmq # Verification feed
django-braces==1.12.0
future==0.18.2
#transitfeed # Read Write GTFS

# Dev
lxml==4.5.0 # Tests - needs libxml2-dev libxslt-dev packages



