Django>=1.5.5,<1.5.99
south
psycopg2==2.4.5
django-admin-bootstrapped
django-floppyforms
django-crispy-forms
django-guardian
django-json-field
django-leaflet
django-geojson
pyzmq # Verification feed
django-braces
transitfeed # Read Write GTFS

# Dev
django-debug-toolbar
django-rosetta
lxml # Tests - needs libxml2-dev libxslt-dev packages


