{% extends "base.html" %}
{% load i18n static %}

{% block title %}Veerboot{% endblock %}

{% block content %}
    <div ng-app="ferryApp">
        <h1>Veerboot
        <select class="pull-right">
        {% for line in lines %}
            <option value="{{ line.pk }}">{{ line.publiclinenumber }} - {{ line.headsign }}</option>
        {% endfor %}
        </select>
        </h1>

        <div class="row" ng-controller="TripListCtrl as ctrl">
            {% verbatim %}
            <div class="col-lg-6">
                <div class="col-lg-6">
                    <div class="trip_header">Heen</div>
                    <div ng-repeat="trip in trips.outward" ng-include="'/trip_cell.html'"></div>
                </div>
                <div class="col-lg-6">
                    <div class="trip_header">Terug</div>
                    <div ng-repeat="trip in trips.return" ng-include="'/trip_cell.html'">
                        BLA
                    </div>
                </div>
            </div>
            {% endverbatim %}
            <div class="col-lg-3">
                <div class="panel panel-default clearfix">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-arrow-right"></i>&nbsp;Vertrek</h3>
                    </div>
                    <div class="panel-body">
                        <span ng-if="!selected">{% trans "Choose a trip" %}</span>
                        <form method="post" action="{% url 'ferry_depart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="line" value="362" />
                            <input type="hidden" name="journeynumber" ng-value="selected" />
                            <input type="hidden" name="departed" value="1" />
                            <input type="submit" ng-if="selected" class="btn btn-success btn-ferry" value="Boot vertrekt" /> <br/>
                        </form>
                        <a href="#" ng-if="selected" class="btn btn-warning btn-ferry"><i class="glyphicon glyphicon-time"></i> Boot vertraagd</a> <br/>

                    </div>
                </div>

                <div class="panel panel-default clearfix">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Rit wijzigen</h3>
                    </div>
                    <div class="panel-body">
                        <a href="#" class="btn btn-primary btn-ferry"><i class="glyphicon glyphicon-exclamation-sign"></i> Boot vol</a> <br/>
                        <form method="post" action="{% url 'ferry_cancel' %}">
                            {% csrf_token %}
                            <input type="hidden" name="line" value="362" />
                            <input type="hidden" name="journeynumber" ng-value="selected" />
                            <input type="hidden" name="departed" value="1" />
                            <input type="submit" ng-if="selected" class="btn btn-danger btn-ferry" value="Boot/rit valt uit" />
                        </form>
                    </div>
                </div>
                <div class="panel panel-default clearfix">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-home"></i>&nbsp;Uit de vaart</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'ferry_suspend' %}">
                            {% csrf_token %}
                            <input type="hidden" name="line" value="362" />
                            <input type="submit" class="btn btn-danger btn-ferry" value="Uit vaart" />
                        </form>
                        <form method="post" action="{% url 'ferry_recover' %}">
                            {% csrf_token %}
                            <input type="hidden" name="line" value="362" />
                            <input type="hidden" name="journeynumber" ng-value="selected" />
                            <input type="submit" class="btn btn-success btn-ferry" value="Herstel dienst" />
                        </form>
                    </div>
                </div>

            </div>
        </div>

        {% verbatim %}
        <script type="text/ng-template" id="/trip_cell.html">
            <div class="trip" ng-click="ctrl.select(trip.journeynumber)"
                 ng-class="{ 'trip-departed': trip.departed,
                        'bg-danger' : trip.cancelled_date != null && !trip.recovered,
                        'trip-selected' : trip.journeynumber == selected,
                         'trip-plain': trip.journeynumber != selected && (!trip.cancelled_date || trip.recovered ) }">
                <strong>Rit {{ trip.journeynumber }}</strong> - {{ trip.departuretime|formatTime }}
                <span class="label label-success label-padded" ng-if="trip.departed">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
                <span class="label label-danger label-padded" ng-if="trip.cancelled_date != null && !trip.recovered">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
                <span class="label label-danger label-padded" ng-if="trip.delay">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;+{{ trip.delay }}
                </span>
            </div>
        </script>
        {% endverbatim %}
    </div>

{% endblock %}

{% block extra_js %}

    <script src="{% static 'bower_components/jquery-ui/ui/minified/core.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/widget.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/mouse.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/selectable.min.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'js/ferry.js' %}"></script>


{% endblock %}