{% extends "base.html" %}
{% load i18n static %}

{% block title %}Veerboot{% endblock %}

{% block content %}
    <div ng-app="ferryApp" ng-controller="TripListCtrl as ctrl">
        <h1>Veerboot
            <select id="selectFerry" class="pull-right" ng-model="ferry" ng-init="ferry = ctrl.restoreFerry()">
                {% for line in lines %}
                    <option selected value="{{ line.pk }}">{{ line.line.publiclinenumber }} - {{ line.line.headsign }}</option>
                {% endfor %}
            </select>
        </h1>

        <div class="row" >

            {% verbatim %}
            <div class="col-lg-6">
                <div class="col-lg-6">
                    <div class="trip_header">Heen</div>
                    <div ng-repeat="trip in trips.outward" ng-include="'trip_cell.html'"></div>
                </div>
                <div class="col-lg-6">
                    <div class="trip_header">Terug</div>
                    <div ng-repeat="trip in trips.return" ng-include="'trip_cell.html'"></div>
                </div>
            </div>
            {% endverbatim %}
            <div class="col-lg-3">
                <div class="alert alert-info" ng-if="!selected">{% trans "Kies eerst een rit" %}</div>
                <div class="panel panel-default clearfix" ng-if="selected && selected.status < 5 && !selected.cancelled">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-arrow-right"></i>&nbsp;{% trans "Vertrek" %}</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'ferry_depart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="ferry" ng-value="ferry" />
                            <input type="hidden" name="journeynumber" ng-value="selected.journeynumber" />
                            <input type="hidden" name="departed" value="1" />
                            <input type="submit" ng-if="selected" class="btn btn-success btn-ferry" value="Boot vertrekt" /> <br/>
                        </form>
                        <a href="#" ng-click="openDelay()" class="btn btn-warning btn-ferry"><i class="glyphicon glyphicon-time"></i> Vertrek vertraagd</a> <br/>
                    </div>
                </div>

                <div class="panel panel-default clearfix" ng-if="selected && selected.status < 5">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Rit wijzigen</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post"  action="{% url 'ferry_full' %}">
                            {% csrf_token %}
                            <input type="hidden" name="ferry" ng-value="ferry" />
                            <input type="hidden" name="journeynumber" ng-value="selected.journeynumber" />
                            <input type="hidden" name="full" value="1" />
                            <input type="submit" ng-if="selected" class="btn btn-primary btn-ferry" value="Boot vol" />
                        </form>
                        <form method="post" action="{% url 'ferry_cancel' %}">
                            {% csrf_token %}
                            <input type="hidden" name="ferry" ng-value="ferry" />
                            <input type="hidden" name="journeynumber" ng-value="selected.journeynumber" />
                            <input type="hidden" name="departed" value="1" />
                            <input type="submit" ng-if="selected" class="btn btn-danger btn-ferry" value="Boot/rit valt uit" />
                        </form>
                    </div>
                </div>
                <div class="panel panel-default clearfix">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-home"></i>&nbsp;Uit de vaart</h3>
                    </div>
                    <div class="panel-body">
                        <a ng-click="openSuspend()" class="btn btn-danger btn-ferry"><i class="glyphicon glyphicon-trash"></i> Uit vaart</a> <br/>
                        <form ng-if="selected.status < 5 && selected.cancelled" method="post" action="{% url 'ferry_recover' %}">
                            {% csrf_token %}
                            <input type="hidden" name="ferry" ng-value="ferry" />
                            <input type="hidden" name="journeynumber" ng-value="selected.journeynumber" />
                            <input type="submit" class="btn btn-success btn-ferry" value="Herstel dienst" />
                        </form>
                    </div>
                </div>

            </div>
        </div>

        {% verbatim %}
        <script type="text/ng-template" id="trip_cell.html">
            <div class="trip" ng-click="ctrl.select(trip)"
                 ng-class="{ 'trip-departed': trip.status > 1 && !trip.selected,
                        'bg-danger' : trip.cancelled && !trip.recovered,
                        'trip-selected' : trip == selected,
                         'trip-plain': trip != selected && (!trip.cancelled || trip.recovered ) }">
                <strong>Rit {{ trip.journeynumber }}</strong> - {{ trip.departuretime|formatTime }}
                <span class="label label-danger label-padded" ng-if="trip.delay">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;+{{ trip.delay }}
                </span>
                <span class="label label-success label-padded" ng-if="trip.status > 5">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
                <span class="label label-primary label-padded" alt="Boot vol" title="Boot vol" ng-if="trip.full">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </span>
                <span class="label label-danger label-padded" alt="Rit opgeheven" title="Rit opgeheven" ng-if="trip.cancelled && !trip.recovered">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>

            </div>
        </script>
        {% endverbatim %}

        <script type="text/ng-template" id="modal_delay.html">
            <form method="post" class="form form-horizontal" action="{% url 'ferry_delay' %}">
                <div class="modal-header">
                    <h3 class="modal-title">{% trans "Vertraging" %}</h3>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="ferry" ng-value="ferry" />
                    <input type="hidden" name="journeynumber" ng-value="selected.journeynumber" />
                    <div class="form-group">
                        <label for="delay" class="col-sm-2 control-label">{% trans "Rit" %}</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{% verbatim %}{{ selected.journeynumber }} (Vertrek {{ selected.departuretime|formatTime }}){% endverbatim %}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="delay" class="col-sm-2 control-label">{% trans "Vertraging" %}</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" name="delay" ng-value="selected.delay">
                            <span class="help-block">{% trans "vertrekvertraging in seconden" %}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="{% trans "Verstuur" %}" />
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="modal_suspend.html">
            <div class="modal-header">
                <h3 class="modal-title">{% trans "Boot uit de vaart" %}</h3>
            </div>
            <div class="modal-body">
                <p>Weet je zeker dat je alle resterende ritten wilt opheffen?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'ferry_suspend' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ferry" ng-value="ferry" />
                    <input type="submit" class="btn btn-danger" value="Hef ritten op" />
                </form>
            </div>
        </script>
    </div>

{% endblock %}

{% block extra_js %}

    <script src="{% static 'bower_components/jquery-ui/ui/minified/core.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/widget.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/mouse.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/selectable.min.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script src="{% static 'js/ferry.js' %}"></script>


{% endblock %}