{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% load socialaccount %}

{% block content %}
<div class="col-lg-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Inloggen" %}</h3>
        </div>
        <div class="panel-body">
            <p>{% trans "Voor deze applicatie is een account nodig. Neem contact op met een beheerder voor meer informatie." %}</p>
            {% if form.errors and not form.non_field_errors %}
                <p class="alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign"></i> {% trans "Je gebruikersnaam of wachtwoord kwamen niet overeen. Probeer het nog eens." %}
                </p>
            {% endif %}
            <div class="row">
            <form method="post" class="form col-md-8" action="{% url 'app_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">{% trans "Inloggen" %}</button>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <form action="{% provider_login_url 'keycloak' auth_params='kc_idp_hint=htm' %}" method="post">
                {% csrf_token %}
                <button type="submit">HTM Personenvervoer N.V.</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
