{% extends "base.html" %}
{% load i18n static floppyforms %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block content_title %}<a class="brand">{% trans 'Password change' %}</a>{% endblock %}

{% block content %}

<div class="col-lg-8">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Inloggen" %}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post">{% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </div>
                {% else %}
                    <div class="alert alert-info">
                        <i class="glyphicon glyphicon-question-sign"></i>&nbsp;{% trans "Voer om je wachtwoord te wijzigen eerst je oude wachtwoord in, gevolgd door twee keer je nieuwe wachtwoord." %}
                   </div>
                {% endif %}
                {% form form %}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
                </div>
            </div>
    </div>
    </form>
</div>

{% endblock %}
