* {
  font-family: 'Roboto', sans-serif;
}
img.user-icon {
    width: 36px;
}

table.openebs-stops tbody tr td{
    font-size: 85%;
    padding: 0;
    vertical-align: middle;
}
table.openebs-stops td.img{
    border: 0px;
}
table.openebs-stops tr:hover td.img{
    border: 0px;
}
span.stop-selection{
    margin: 0.1em;
}
.stop:hover{
    background-color: #f5f5f5
}
.stop-check{
    color: green;
}

