{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title> {% trans "OpenEBS" %} | {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        {% block js %} {% endblock %}

        function ebs_init() {
            {% block js_init %} {% endblock %}
        }
    </script>
</head>
<body onLoad="ebs_init()">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">{% trans "OpenEBS" %}</a>
      </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url "msg_index" %}">
                  <span class="glyphicon glyphicon-inbox"></span> {% trans "Berichten" %}
              </a></li>
          <li><a href="{% url "scenario_index" %}">
                  <span class="glyphicon glyphicon-bookmark"></span>&nbsp;{% trans "Scenario's" %}
              </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            {% if user and not user.is_anonymous %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user.get_full_name }}
                <img src="{{ STATIC_URL }}img/logos/{{ user.userprofile.company|lower }}.png" class="user-icon"/>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}" target="_new" title="Backoffice">
                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;{% trans "Backoffice" %}
                    </a></li>
              {% endif %}
              <li><a href="{% url 'app_logout' %}">
                  <span class="glyphicon glyphicon-log-out"></span>&nbsp;{% trans "Uitloggen" %}
              </a></li>
            </ul>
            {% else %}
              {% comment %}
                # We have no unauthorized views, leave blank for now
                <a href="#">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;{% trans "Inloggen" %}
                </a>
              {% endcomment %}
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_js %} {% endblock %}
</body>
</html>
