{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
    <title> {% trans "OpenEBS" %} | {% block title %} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
        <script src="{% static 'bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
    {% block extra_css %} {% endblock %}
    <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">{% trans "OpenEBS" %}</a>
      </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          {% if perms.openebs.view_messages %}
          <li id="nav-bericht"><a href="{% url 'msg_index' %}">
                  <span class="glyphicon glyphicon-inbox"></span> {% trans "Berichten" %}
              </a></li>
          <li id="nav-kaart"><a href="{% url 'msg_map' %}">
                  <span class="glyphicon glyphicon-map-marker"></span>&nbsp;{% trans "Kaart" %}
              </a></li>
          {% endif %}
          {% if perms.openebs.view_scenario %}
          <li id="nav-scenario"><a href="{% url 'scenario_index' %}">
                  <span class="glyphicon glyphicon-bookmark"></span>&nbsp;{% trans "Scenario's" %}
              </a></li>
          {% endif %}
          {% if perms.openebs.view_change %}
          <li id="nav-ritaanpassing"><a href="{% url 'change_index' %}">
                  <span class="glyphicon glyphicon-road"></span> {% trans "Ritaanpassingen" %}
              </a></li>
          {% endif %}
          {% if perms.ferry.add_ferrykv6messages %}
          <li id="nav-ferry"><a href="{% url 'ferry_home' %}">
              <span class="glyphicon glyphicon-tint"></span> {% trans "Veerboot" %}
          </a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_superuser %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>&nbsp;{% trans "Extra opties" %}</a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;<strong>{% trans "Wijzig vervoerder" %}:</strong></a></li>
                    <li><a href="{% url 'company_change' %}?company=HTM">
                        <img src="{% static "img/logos/htm.png" %}" class="user-icon"/> HTM
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=ARR">
                        <img src="{% static "img/logos/arr.png" %}" class="user-icon"/> Arriva
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=EBS">
                        <img src="{% static "img/logos/ebs.png" %}" class="user-icon"/> EBS
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=CXX">
                        <img src="{% static "img/logos/cxx.png" %}" class="user-icon"/> Connexxion
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=GVB">
                        <img src="{% static "img/logos/gvb.png" %}" class="user-icon"/> GVB
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=RET">
                        <img src="{% static "img/logos/ret.png" %}" class="user-icon"/> RET
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=QBUZZ">
                        <img src="{% static "img/logos/qbuzz.png" %}" class="user-icon"/> QBuzz
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=KEOLIS">
                        <img src="{% static "img/logos/keolis.png" %}" class="user-icon"/> Keolis
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=SYNTUS">
                        <img src="{% static "img/logos/syntus.png" %}" class="user-icon"/> Syntus
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=NS">
                        <img src="{% static "img/logos/ns.png" %}" class="user-icon"/> NS
                    </a></li>
                    <li><a href="{% url 'company_change' %}?company=WSF">
                        <i class="glyphicon glyphicon-tint"></i> WSF
                    </a></li>
                </ul>
              </li>
          {% endif %}
        <li class="dropdown">
            {% if user and not user.is_anonymous %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if user.get_full_name %}
                    {{ user.get_full_name }}
                {% elif user.username %}
                    {{ user.username }}
                {% else %}
                    Naamloos
                {% endif %}
                {% if user.userprofile.company %}
                    <img src="{% get_static_prefix %}img/logos/{{ user.userprofile.company|lower }}.png" class="user-icon"/>
                {% endif %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% if user.is_staff %}
                    <li><a href="{% url 'msg_index' %}?all=true" title="Bekijk alle berichten">
                          <span class="glyphicon glyphicon-th-list"></span>&nbsp;{% trans "Bekijk alle berichten" %}
                      </a></li>
                      <li class="divider"></li>
                {% endif %}
                {% if perms.openebs.edit_filter %}
                    <li><a href="{% url 'filter_list' %}"><span class="glyphicon glyphicon-search"></span>&nbsp;{% trans "Filters" %}</a></li>
                {% endif %}
                {% if user.is_staff %}
                <li><a href="{% url 'kv1_imports' %}" title="Import status">
                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans "Import status" %}
                </a></li>
                <li><a href="{% url 'admin:index' %}" target="_new" title="Backoffice">
                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;{% trans "Backoffice" %}
                    </a></li>
                <li class="divider"></li>
              {%  endif %}

              <li><a href="{% url 'app_password_change' %}">
                  <span class="glyphicon glyphicon-user"></span>&nbsp;{% trans "Wachtwoord wijzigen" %}
              </a></li>
              <li><a href="{% url 'app_logout' %}">
                  <span class="glyphicon glyphicon-log-out"></span>&nbsp;{% trans "Uitloggen" %}
              </a></li>
            </ul>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    {% block content_full_page %}
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    {% endblock %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block extra_js %} {% endblock %}
    <script type="text/javascript">$(document).ready(load_ebs);
        {% block js %} {% endblock %}
        function load_ebs() {
            {% comment %}This works if URL matches IDs below{% endcomment %}
            $('#nav-'+location.pathname.split("/")[1]).addClass('active')
            {% block js_init %} {% endblock %}
        }
    </script>
</body>
</html>
