{% extends "base.html" %}
{% load static crispy_forms_tags leaflet_tags i18n %}

 {% block title %}{% trans "Scenario inplannen" %}{% endblock %}

{% block content %}
    <h2>{% trans "Scenario" %} <em>{{scenario.name}}</em> {% trans " inplannen" %}</h2>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Nieuwe berichten" %}</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{% trans "Je gaat de volgende berichten inplannen:" %}</strong><p>
                    <ul>
                    {% for msg in scenario.messages.all %}
                        <li>{{ msg.messagecontent }} <a class="halte-count" data-title="{% trans 'Haltes bij bericht' %}" data-html="true" data-content="{% include 'openebs/snippet_scenario-halte-list.html' %}">
                            ({{ msg.stops.count }} haltes)</a></li>
                    {% endfor %}
                    </ul>
                    <p class="text_about_endtime hidden">
                        {% blocktrans %}
                            De hieronder ingevoerde eindtijd geldt <strong>alleen</strong> voor berichten met tijdsrooster 'Eind Tijd'.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Begin- en eindtijd" %}</h3>
                </div>
                <div class="panel-body">
                    <p></p>
                    <form method="post" class="form" action="{% url 'scenario_plan' scenario.id %}">
                        {% crispy form form.helper %}
                    </form>
                </div>
            </div>
            {% comment %} TODO Finish this!
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Te verwijderen berichten" %}</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{% trans "Op basis van de geselecteerde tijden, worden de volgende berichten eerst verwijderd:" %}</strong><p>
                    <button class="btn btn-danger">{% trans "Berichten verwijderen en scenario inplannen" %}</button>
                </div>
            </div>{% endcomment %}
        </div>
        <div class="col-sm-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Haltes" %}</h3>
                </div>
                <div class="panel-body">
                    {% leaflet_map "scenario_map" callback="main_map_init" %}
                </div>
            </div>
        </div>
    </div>
    <br />


{% endblock %}

{% block extra_css %}
    {% leaflet_css %}
{% endblock %}

{% block extra_js %}
    {% leaflet_js %}
    <script src="{% static 'bower_components/jquery-ui/ui/minified/core.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/widget.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/mouse.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/selectable.min.js' %}"></script>
    <script src="{% static 'js/plan_scenario.js' %}"></script>
{% endblock %}

{% block js_init %}
    $('.halte-count').popover({ trigger: 'hover' });
    getScenarioMessages('{{ scenario.id }}');
    $('body').on('change', '#id_messagestarttime', function() {
        updateEndtime();
    });
{% endblock %}

{% block js %}
    function main_map_init (map, options) {
        map.setView(new L.LatLng(52.05, 4.32), 12);
        var dataurl = "{% url 'scenario_stops_ajax' scenario.id %}";
        $.getJSON(dataurl, function (data) {
            group = L.geoJson(data);
            group.addTo(map);
            map.fitBounds(group.getBounds());
        });
    }
{% endblock %}