{% extends "base.html" %}
{% load floppyforms i18n %}

 {% block title %}{% trans "Nieuw bericht" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <h2>Lijn</h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" id="line_search" placeholder="{% trans 'Lijnnummer of eindbestemming' %}">
        </div><br />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% trans "Lijn" %}</th>
                    <th>{% trans "Eindbestemming" %}</th>
                </tr>
            </thead>
            <tbody id="rows">
                <tr>
                    <td colspan="2" class="text-center"><em>{% trans "Typ een eindbestemming in om te zoeken" %}</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <h2>Haltes</h2>
        <table class="table openebs-stops" id="stops">

        </table>
    </div>
    <div class="col-lg-4">
        <h2>Bericht</h2>
        <form method="post" class="form" action="{% url "msg_add" %}">
            <div class="control-group">
                <label>{% trans "Haltes" %}</label>
                <p class="form-control-static" id="halte-list">&nbsp;</p><br />
                <input type="hidden" id="haltes" name="haltes">
            </div>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% form form using "floppyforms/layouts/bootstrap_vertical.html" %}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">{% trans "Toevoegen" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js_init %}
        $('#line_search').on('keyup', changeSearch);
        $( "body" ).on('click', ".line", showStops);
        $( "body" ).on('click', ".stop", selectStop);
        $( "body" ).on('click', ".stop-remove", selectionRemoveStop);
        $( "body" ).on('click', ".stop.success", lineRemoveStop);
{% endblock %}

{% block js %}
    var selectedStops = []

    function changeSearch(event) {
        if ($("#line_search").val().length > 0) {
            $.ajax('/line/'+$("#line_search").val(), {
                success : writeList
            })
        }
    }

    function writeList(data, status) {
        validIds = []
        /* Add them all, as neccesary */
        for (key in data.object_list) {
            line = data.object_list[key]
            validIds.push('l'+line.pk)
            if (!$('#l'+line.pk).length) {
                row = '<tr class="line" id="l'+line.pk+'"><td>'+line.lineplanningnumber+ '</td>'
                row += '<td>'+line.headsign+'</td></tr>'
                $(row).hide().appendTo("#rows").fadeIn(999)
            }
        }
        /* Cleanup */
        $("#rows tr").each(function(index) {
            if ($.inArray($(this).attr('id'), validIds) == -1) {
                $(this).fadeOut(999).remove()
            }
        });
    }

    function showStops(event) {
        $("#rows tr.success").removeClass('success');
        $(".suc-icon").remove();
        $(this).addClass('success');
        $(this).children('td').eq(1).append('<span class="suc-icon pull-right glyphicon glyphicon-arrow-right"></span>');
        $.ajax('/line/'+$(this).attr('id').substring(1)+'/stops', {
                success : writeLine
        })
        $(this).addClass('success')
    }

    function selectStop(event) {
        if ($.inArray($(this).attr('id'), selectedStops) == -1) {
            $(this).addClass('success')
            $(this).append('&nbsp;<span class="stop-check glyphicon glyphicon-ok-circle pull-right"></span>&nbsp;')
            selectedStops.push($(this).attr('id'));
            if ($(this).hasClass('stop-left')) {
                direction = "heen";
            } else {
                direction = "trg";
            }
            delLink = '<span class="stop-remove glyphicon glyphicon-remove"></span>';
            $("#halte-list").append('<span class="stop-selection pull-left label label-primary" id="s'+$(this).attr('id')+'">'+$(this).text()+' ('+direction+') '+delLink+ '</span>')
        }
    }

    /* Wrapper functions to get the id */
    function selectionRemoveStop(event) {
        removeStop($(this).parent().attr('id').substring(1))
    }

    function lineRemoveStop(event) {
        removeStop($(this).attr('id'))
    }

    /* Do the actual work here */
    function removeStop(id) {
        var i = selectedStops.indexOf(id);
        if (i != -1) {
            selectedStops.splice(i, 1);
            $("#s"+id).remove();
            $("#"+id).removeClass('success')
            $("#"+id+" .stop-check").remove()
        }
    }

    function writeLine(data, status) {
        $('#stops').fadeOut(200).empty();
        out = ""
        for (key in data.object.stop_map) {
            out += renderRow(data.object.stop_map[key])
        }
        $('#stops').append(out)
        $('#stops').fadeIn(200);
    }

    function renderRow(row) {
        out = '<tr>';
        if (row.left != null) {
            out += '<td class="stop stop-left" id="s'+row.left.id+'">'+row.left.name+'</td>';
        } else {
            out += '<td>&nbsp;</td>';
        }
        if (row.left != null && row.right != null) {
            out += '<td class="img text-center"><img src="/static/img/stop-both.png"></td>'
        } else if (row.left != null) {
            out += '<td class="img text-center"><img src="/static/img/stop-left.png"></td>'
        } else if (row.right != null) {
            out += '<td class="img text-center"><img src="/static/img/stop-right.png"></td>'
        }
        if (row.right != null) {
            out += '<td class="stop stop-right" id="s'+row.right.id+'">'+row.right.name+'</td>';
        } else {
            out += '<td>&nbsp;</td>';
        }
        out += '</tr>';
        return out
    }
{% endblock %}
