{% extends "base.html" %}
{% load static crispy_forms_tags leaflet_tags i18n %}

 {% block title %}{% trans "Bekijk bericht" %}{% endblock %}

{% block content %}
<h2>{% trans "Bericht" %}
    {% if object.is_editable %}
        {% if perms.openebs.edit_all or not perms.openebs.view_all or object.dataownercode == user.userprofile.company %}
            <form method="post" action="{% url 'msg_delete' object.id %}">
                {% csrf_token %}
                <button class="btn btn-danger pull-right">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            <a href="{% url 'msg_edit' object.pk %}" class="btn btn-link pull-right">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Bewerk" %}&nbsp;
            </a>&nbsp;
        {% endif %}
    {% endif %}
    </h2>
<div>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Omschrijving" %}</h3>
                </div>
                <div class="panel-body">
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Volgnummer" %}</label>
                        <p class="form-control-static col-lg-8">
                            {{ object.dataownercode }} - {{ object.messagecodedate }} - #{{ object.messagecodenumber }}
                        </p>
                    </div>
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Bericht" %}</label>
                        <p class="form-control-static col-lg-8">
                            {{ object.messagecontent|default_if_none:"[geen of overschrijf bericht]" }}<br /><br />
                        </p>
                    </div>
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Geldigheid" %}</label>
                        <p class="form-control-static col-lg-8">
                            {% include "openebs/snippet_message-duration.html" with msg=object only %}
                        </p>
                    </div>
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Laatst aangepast door" %}</label>
                        <p class="form-control-static col-lg-8">
                            {% if not object.is_external %}
                                <i class="glyphicon glyphicon-user"></i>&nbsp;{{ object.user.get_full_name|default:object.user.username }}
                            {% else %}
                                <i class="glyphicon glyphicon-info-sign"></i>&nbsp;{% trans "Auteur onbekend - bericht opgesteld buiten OpenEBS" %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Type tijdsrooster" %}</label>
                        <p class="form-control-static col-lg-8">
                            {{ object.get_messagedurationtype_display }}
                        </p>
                    </div>
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Type bericht" %}</label>
                        <p class="form-control-static col-lg-8">
                            {{ object.get_messagetype_display }}
                        </p>
                    </div>
                    <div class="control-group row">
                        <label class="col-lg-4">{% trans "Prioriteit" %}</label>
                        <p class="form-control-static col-lg-8">
                            {{ object.get_messagepriority_display }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>{% trans "Haltes" %} <span style="font-weight: normal;">({{ kv15messagestop|length }})</span>
        <a class="btn btn-link pull-right" href="{% url 'msg_map' %}?message={{ object.id }}"><i class="glyphicon glyphicon-screenshot"></i> {% trans "Bekijk op kaart" %}</a>
    </h3>
    <table class="table table-bordered table-condensed">
    <tr>
        <th class="col-lg-1">{% trans "Vervoerder" %}</th>
        <th>Halte</th>
        <th class="col-lg-2 text-right">Haltenummer</th>
    </tr>
    {% for halte in kv15messagestop %}
        <tr>
            <td><img class="user-icon" src="{% get_static_prefix %}img/logos/{{ halte.dataownercode|lower }}.png" /></td>
            <td>{{ halte.name }}</td>
            <td class="text-right">{{ halte.userstopcode }}</td>
        </tr>
    {% endfor %}
    </table>


</div>
{% endblock %}
