{% extends "base.html" %}
{% load static crispy_forms_tags i18n %}

 {% block title %}{% trans "Bewerk bericht" %}{% endblock %}

{% block content %}
<div class="row">
    {% include "openebs/snippet_halte-picker.html" %}
    <div class="col-lg-4">
        <h2>{% trans "Bewerk bericht" %}</h2>
        <form method="post" class="form" action="{% url 'msg_edit' object.pk %}">
            <div class="control-group">
                <label>{% trans "Haltes" %}</label>
                <p class="form-control-static" id="halte-list">
                    {% if object.kv15messagestop_set.count > 0 %}
                        {% for halte in object.kv15messagestop_set.all %}
                            <span class="stop-selection pull-left label label-primary" id="ss{{ halte.stop.dataownercode }}_{{ halte.stop.userstopcode }}">{{ halte.stop.name }} (?)<span class="stop-remove glyphicon glyphicon-remove"></span></span>
                        {% endfor %}
                    {% else %}
                        <em class="help">{% trans "Klik haltenamen om een selectie te maken" %}</em>
                    {% endif %}
                </p><br />
                <input type="hidden" id="haltes" name="haltes"
                       value="{% for halte in object.kv15messagestop_set.all %}{{ halte.stop.dataownercode }}_{{ halte.stop.userstopcode }},{% endfor %}" />
            </div>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% crispy form form.helper %}
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Opslaan" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/add_msg.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.selectable.min.js' %}"></script>
{% endblock %}
{% block js_init %}
    {% include "openebs/snippet_halte-picker-js.html" %}
    getHaltesWithMessages()
{% endblock %}