{% extends "base.html" %}
{% load i18n %}

{% block title %}Scenario verwijderen{% endblock %}

{% block content %}

  <h1>{% trans "Scenario verwijderen" %}</h1>
  <p>{% trans "Weet je zeker dat je het scenario <em>&ldquo;"%} {{ object.description|default:"" }} {% trans "&rdquo;</em> en alle " %} {{ object.kv15scenariomessage_set.count }} {% trans "onderliggende berichten wilt verwijderen?" %}</p>
  <div>
      <form method="post" action="{% url 'scenario_delete' object.pk %}">
          {% csrf_token %}
          <button class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Ja, verwijder het" %}
          </button>
      </form>
      <a href="{% url 'scenario_index' %}" class="btn btn-default">{% trans "Nee, terug" %}</a>
  </div>
{% endblock %}
