{% extends "base.html" %}
{% load i18n %}

{% block title %}Scenario's{% endblock %}

{% block content %}

  <h1>{% trans "Scenario's" %}
      {% if perms.openebs.add_scenario %}
      <a class="btn btn-success pull-right" href="{% url 'scenario_add' %}">
        <span class="glyphicon glyphicon-plus-sign"></span> {% trans "Nieuw scenario" %}
      </a>
      {% endif %}
  </h1>
  <table class="table table-bordered table-condensed">
  <tr>
        <th class="col-lg-1">{% trans "Naam"%}</th>
        <th class="col-lg-4">{% trans "Omschrijving" %}</th>
        <th class="col-lg-1">{% trans "Berichten" %}</th>
        <th class="col-lg-6">&nbsp;</th>
  </tr>
  {% for scenario in object_list %}
      <tr>
        <td><a href="{% url 'scenario_edit' scenario.pk %}">{{ scenario.name }}<a/></td>
        <td>{{ scenario.description|default:"<em><geen></em>" }}&nbsp;</td>
        <td class="text-center">
            {% if scenario.kv15scenariomessage_set.count > 0 %}
            <a class="msg-count btn btn-link" data-title="{% trans 'Berichten bij scenario' %}" data-html="true" data-content="{% include 'openebs/snippet_message-list.html' %}">
                {{ scenario.kv15scenariomessage_set.count }}</a>
            {% else %}
                0
            {% endif %}
        </td>
        <td class="text-right">
            <form method="get" action="{% url 'scenario_delete' scenario.pk %}">
                {% csrf_token %}
                <button class="btn btn-link pull-right">
                    <span class="glyphicon glyphicon-trash"></span> {% trans "Verwijder" %}
                </button>
            </form>
            <a href="{% url 'scenario_edit' scenario.pk %}" class="btn btn-link pull-right">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Bewerk" %}&nbsp;
            </a>
            <a href="{% url 'scenario_msg_add' scenario.pk %}" class="btn btn-link pull-right">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Bericht toevoegen" %}&nbsp;
            </a>
            <a href="{% url 'scenario_plan' scenario.pk %}" class="btn btn-link pull-right">
                <span class="glyphicon glyphicon-play"></span> {% trans "Inplannen" %}&nbsp;
            </a>
        </td>
    </tr>
  {% empty %}
      <tr><td colspan=4 class="text-center"><em>{% trans "Er zijn nog geen scenario's" %}</em></td></tr>
  {% endfor %}
  </table>
{% endblock %}

{% block js_init %}
    $('.msg-count').popover({ trigger: 'hover' });
{% endblock %}
