{% extends "base.html" %}
{% load i18n leaflet_tags %}

{% block title %}Berichten{% endblock %}

{% block extra_css %}
    {% leaflet_css %}
{% endblock %}

{% block extra_js %}
    {% leaflet_js %}
{% endblock %}

{% block js %}
    function main_map_init (map, options) {
        map.setView(new L.LatLng(52.05, 4.32), 12);

        var dataurl = "{% url 'msg_geojson' %}";
        // Download GeoJSON via Ajax
        $.getJSON(dataurl, function (data) {
            // Add GeoJSON layer
            L.geoJson(data).addTo(map);
        });
    }
{% endblock %}

{% block content_full_page %}
    <div class="container-fluid row">
        {% leaflet_map "map" callback="main_map_init" %}
    </div>
{% endblock %}
