{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Nieuw scenario" %}{% endblock %}

{% block content %}

  <h1>{% trans "Nieuw scenario" %} </h1>
  <form method="post" class="form form-horizontal" action="{% url 'scenario_add' %}">
    {% csrf_token %}
    {% crispy form %}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">{% trans "Toevoegen" %}</button>
        </div>
    </div>
  </form>

 {% endblock %}