{% extends "base.html" %}


{% block contents %}

  <h1>Berichten</h1>
  <a class="btn btn-default" href="{% url "msg_add" %}">Bericht toevoegen</a>

  <h2>Actieve berichten</h2>
  <table class="table table-bordered table-condensed">
  <tr>
        <th class="col-lg-1">Number</th>
        <th class="col-lg-11">Message</th>
  </tr>
  {% for msg in msg_list %}
    <tr>
        <td>{{ msg.messagecodenumber }}</td>
        <td>{{ msg.messagecontent }}</td>
    </tr>
  {% endfor %}
  </table>

  <h2>Verlopen berichten</h2>
  <table class="table table-bordered table-condensed">
  <tr>
        <th class="col-lg-1">Number</th>
        <th class="col-lg-11">Message</th>
  </tr>
  {% for msg in archive_list %}
    <tr>
        <td>{{ msg.messagecodenumber }}</td>
        <td>{{ msg.messagecontent }}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}