{% extends "base.html" %}
{% load floppyforms i18n %}

{% block content %}
<h1>Nieuw bericht</h1>
<a class="btn btn-default" href="{% url "msg_index" %}">Back to list</a>
<form method="post" class="form-horizontal" action="{% url "msg_add" %}">
    {% csrf_token %}
    {% form form %}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">{% trans "Toevoegen" %}</button>
        </div>
    </div>
</form>

{% endblock %}