{% extends "base.html" %}
{% load floppyforms i18n %}

 {% block title %}{% trans "Nieuw bericht" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <h2>Lijn</h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" id="line_search" placeholder="{% trans 'Lijnnummer of eindbestemming' %}">
        </div><br />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% trans "Lijn" %}</th>
                    <th>{% trans "Eindbestemming" %}</th>
                </tr>
            </thead>
            <tbody id="rows">
                <tr>
                    <td colspan="2" class="text-center"><em>{% trans "Typ een eindbestemming of lijnnummer om een lijn te zoeken" %}</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <h2>Haltes</h2>
        <table class="table openebs-stops" id="stops">
            <tr class="help text-center"><td><em>Klik een lijn om haltes hier te zien</em></td></tr>
        </table>
    </div>
    <div class="col-lg-4">
        <h2>Bericht</h2>
        <form method="post" class="form" action="{% url "msg_add" %}">
            <div class="control-group">
                <label>{% trans "Haltes" %}</label>
                <p class="form-control-static" id="halte-list"><em class="help">{% trans "Klik haltenamen om een selectie te maken" %}</em></p><br />
                <input type="hidden" id="haltes" name="haltes">
            </div>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% form form using "floppyforms/layouts/bootstrap_vertical.html" %}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">{% trans "Toevoegen" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}<script src="{% static 'js/add_msg.js' %}"></script>{% endblock %}

{% block js_init %}
        $('#line_search').on('keyup', changeSearch);
        $( "body" ).on('click', ".line", showStops);
        $( "body" ).on('click', ".stop", selectStop);
        $( "body" ).on('click', ".stop-remove", selectionRemoveStop);
        $( "body" ).on('click', ".stop.success", lineRemoveStop);
        $( "body" ).on('click', ".stop-both", selectStopBoth);
        $( "body" ).on('click', ".stop-left", selectStopLeft);
        $( "body" ).on('click', ".stop-right", selectStopRight);
{% endblock %}