{% extends "base.html" %}
{% load i18n %}

{% block title %}Berichten{% endblock %}

{% block content %}

  {% if view_all %}
      <div class="row">
          <h1 class="col-md-8">{% trans "Alle berichten" %}</h1>
          <form class="form-horizontal" method="get" id="filter" role="form" style="vertical-align: middle;">
              <div class="form-group">
                  <label for="filter" class="control-label col-md-1">{% trans "Filter" %}</label>
                  <div class="col-md-2">
                      <select id="filter-select" name="filter" class="form-control">
                          <option value="{% url 'msg_index' %}?all=true"><em>{% trans "Geen" %}</em></option>
                          {% for id, name in filters %}
                              <option value="{% url 'msg_index' %}?all=true&filter={{ id }}"{% if id == filter %} selected{% endif %}>{{ name }}</option>
                          {% endfor %}
                      </select>
                  </div>
            </div>
          </form>
      </div>
  {% else %}
      <h1>{% trans "Berichten" %}</h1>
  {% endif %}

  <a name="active"></a>
  <h2>{% trans "Actieve berichten" %}
      <a href="#deleted" class="title_link_small"><i class="glyphicon glyphicon-trash"></i> {% trans "Ga naar verlopen berichten" %}</a>
      {% if perms.openebs.add_messages and not view_all and not edit_all %}
      <a class="btn btn-success pull-right" href="{% url 'msg_add' %}">
        <span class="glyphicon glyphicon-plus-sign"></span> {% trans "Nieuw bericht" %}
      </a>
      {% endif %}
  </h2>

  <table class="table table-bordered table-condensed">
  <tr>
        {% if view_all %}
            <th>{% trans "Vervoerder"%}</th>
        {% endif %}
        <th class="col-lg-1">{% trans "Volgnummer"%}</th>
        <th class="col-lg-6">{% trans "Bericht" %}</th>
        <th class="col-lg-1">{% trans "Aantal haltes" %}</th>
        <th class="col-lg-2">{% trans "Tijden" %}</th>
        <th class="col-lg-3">&nbsp;</th>
  </tr>
  {% for msg in active_list %}
      <tr class="{% if msg.is_future %}warning{% endif %}">
        {% if view_all %}
            <td><img src="{{ STATIC_URL }}img/logos/{{ msg.dataownercode|lower }}.png" class="user-icon" /></td>
        {% endif %}
        <td>{{ msg.messagecodenumber }}
            {% include "openebs/snippet_message-external.html" with msg=msg only %}
            {% if msg.is_future %}
                <i class="glyphicon glyphicon-time" title="{% trans 'Toekomstig bericht' %}"></i>
            {% endif %}
            </td>
        <td>{{ msg.messagecontent|default_if_none:"[geen of overschrijf bericht]" }} {% include "openebs/snippet_status.html" with status=msg.status only %}</td>
        <td class="text-center">
            <a class="halte-count btn btn-link" href="{% url 'msg_view' msg.id %}"
               {% if not view_all and not edit_all %} data-title="{% trans 'Haltes bij bericht' %}" data-html="true" data-content="{% include 'openebs/snippet_halte-list.html' %}"{% endif %} %}>
                {{ msg.stops__count }}
            </a>
        </td>
        <td>{% include "openebs/snippet_message-duration_small.html" with msg=msg only %}</td></td>
        <td>
            {% if not view_all or edit_all %}
                <form method="post" action="{% url 'msg_delete' msg.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
                <a href="{% url 'msg_edit' msg.pk %}" class="btn btn-link pull-right">
                    <span class="glyphicon glyphicon-edit"></span> {% trans "Bewerk" %}&nbsp;
                </a>&nbsp;
            {% endif %}
        </td>
    </tr>
  {% empty %}
      <tr><td {% if view_all %}colspan="6"{% else %}colspan="5"{% endif %} class="text-center"><em>{% trans "Geen berichten gevonden" %}</em></td></tr>
  {% endfor %}
  </table>
    <p><small><i class="glyphicon glyphicon-time"></i> + geel: {% trans "toekomstig bericht" %}</small></p><br />


  <a name="deleted"></a>
  <h2>Verlopen berichten
      <a href="#active" class="title_link_small"><i class="glyphicon glyphicon-calendar"></i> {% trans "Ga naar actieve berichten" %}</a>
  </h2>
  <table class="table table-bordered table-condensed">
  <tr>
      {% if view_all %}
          <th>{% trans "Vervoerder"%}</th>
      {% endif %}
      <th class="col-lg-1">{% trans "Volgnummer"%}</th>
      <th class="col-lg-6">{% trans "Bericht" %}</th>
      <th class="col-lg-1">{% trans "Haltes" %}</th>
      <th class="col-lg-5">{% trans "Tijden" %}</th>
  </tr>
  {% for msg in archive_list %}
    <tr class="{% if msg.isdeleted %}danger{% endif %}">
        {% if view_all %}
            <td><img src="{{ STATIC_URL }}img/logos/{{ msg.dataownercode|lower }}.png" class="user-icon" /></td>
        {% endif %}
        <td>{{ msg.messagecodenumber }}
            {% include "openebs/snippet_message-external.html" with msg=msg only %}
            {% if msg.isdeleted %}<i class="glyphicon glyphicon-trash" title="{% trans "Verwijderd bericht" %}"></i>{% endif %}
        </td>
        <td>{{ msg.messagecontent|default:"<em>[geen of overschrijf bericht]</em>"|default_if_none:"<em>[geen of overschrijf bericht]</em>" }} {% include "openebs/snippet_status.html" with status=msg.status only %}</td>
        <td class="text-center">
            <a class="halte-count btn btn-link" href="{% url 'msg_view' msg.id %}"
               {% if not view_all and not edit_all %} data-title="{% trans 'Haltes bij bericht' %}" data-html="true" data-content="{% include 'openebs/snippet_halte-list.html' %}"{% endif %}>
                {{ msg.stops__count }}
            </a>
        </td>
        <td>
            {% include "openebs/snippet_message-duration.html" with msg=msg only %}
        </td>
    </tr>
  {% empty %}
      <tr><td colspan="5" class="text-center"><em>{% trans "Geen berichten gevonden" %}</em></td></tr>
  {% endfor %}
  </table>
  <p><small><i class="glyphicon glyphicon-trash"></i> + rood: {% trans "verwijderd bericht" %}</small></p>
{% endblock %}

{% block js_init %}
    $('.halte-count').popover({trigger : 'hover'});
    $('#filter-select').on('change', function(event) {
        window.location.href = $('#filter-select').val();
    });
{% endblock %}
