{% extends "base.html" %}
{% load i18n leaflet_tags static %}

{% block title %}Kaart{% endblock %}

{% block content_full_page %}
    <div class="container-fluid row">
        {% leaflet_map "map" callback="main_map_init" %}
    </div>
    <div id="autocomplete_holder">
        <input id="autocomplete" class="form-control" placeholder="Zoek een halte" >
    </div>
{% endblock %}

{% block extra_css %}
    {% leaflet_css %}
{% endblock %}

{% block extra_js %}
    {% leaflet_js %}
    <script type="text/javascript" src="{% static 'js/leaflet.restoreview.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/handlebars/handlebars.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/lodash/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
    {% include "openebs/snippet_autocomplete.html" %}
    <script type="text/javascript">
        Handlebars.registerHelper('toLowerCase', function(str) {
            return str.toLowerCase();
        });

        Handlebars.registerHelper('shorten', function(str) {
            if (str.length > 65) {
                str = str.substring(0, 65) + "...";
            }
            return str;
        });

        Handlebars.registerHelper('makeStopMessageLink', function(num) {
            return "{% url "msg_view" 999 %}".replace("999", num);
        });

        (function() {
            $('#map').css("height", ($(window).height() - $("nav.navbar").height()));
            resize();
            $(window).on("resize", resize);

            $('#autocomplete').bind('typeahead:select', function(ev, suggestion) {
                leafletMap.setView(suggestion.location, 16, {animate: true});
                if (suggestion.timingpointcode in markerIndex) {
                    var popup = markerIndex[suggestion.timingpointcode];
                    {# leafletMap.openPopup(popup)#}
                } else {
                    var colors = getColorsForDataownercode(suggestion.dataownercode);
                    var marker = L.circleMarker(suggestion.location, {
                        radius: 5,
                        fillColor: colors[0],
                        color: colors[1],
                        weight: 2,
                        opacity: 1,
                        fillOpacity: 0.8
                    });
                    marker.bindPopup(button_template(suggestion))
                    marker.addTo(leafletMap);
                }
                $('#autocomplete').typeahead('val', '');
            });

        })();

        var mapmargin = 0;
        var table_template, button_template;

        function resize(){
            if($(window).width()>=980){
                $('#map').css("height", ($(window).height() - mapmargin));
                $('#map').css("margin-top", -20);
            } else{
                $('#map').css("height", ($(window).height() - (mapmargin+12)));
                $('#map').css("margin-top",-21);
            }
        }

        function onMapFeature(feature, layer) {
            if (feature.properties && feature.properties.name) {
                var popup = L.popup().setContent("<em>Data wordt geladen...</em>")
                layer.bindPopup(popup);
                layer.on('click', function(e) {
                    var popup = e.target._popup;
                    $.get("{% url "msg_stop_json" 999 %}".replace("999", feature.properties.timingpointcode)).done(function(data) {
                        popup.setContent(table_template(_.merge(data, feature.properties)));
                        popup.update();
                    });
                });
                markerIndex[feature.properties.timingpointcode] = popup;
            }
        }

        var halteMarkerOptions = {
            radius: 10,
            weight: 2,
            opacity: 1,
            fillOpacity: 0.8
        };

        var leafletMap;
        var markerIndex = {}

        function getColorsForDataownercode(dataownercode) {
            switch (dataownercode) {
                case "HTM":
                    return ['#FF0000', '#000'];
                case "VTN":
                    return ['#FFF', '#E40E26'];
                case "ARR":
                    return ['#42AEB6', '#000'];
                case "EBS":
                    return ['#16C1F3', '#6CBD45'];
                case "CXX":
                    return ['#005758', '#C3F321'];
                case "GVB":
                    return ['#2569B3', '#FFF'];
                case "RET":
                    return ['#00477F', '#FF0000'];
                case "QBUZZ":
                    return ['#FF7C00', '#000'];
                case "SYNTUS":
                    return ['#FF9700', '#000066'];
                default:
                    return ["#FFFF00", "#000"];
            }
        }


        function main_map_init (map, options) {
            leafletMap = map;
            if (!map.restoreView()) {
                map.setView(new L.LatLng(52.05, 4.32), 12);
            }

            // Download GeoJSON via Ajax
            $.getJSON("{% url 'msg_geojson' %}", function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {
                    onEachFeature: onMapFeature,
                    pointToLayer: function (feature, latlng) {
                        var colors = getColorsForDataownercode(feature.properties.dataownercode);
                        halteMarkerOptions.fillColor = colors[0];
                        halteMarkerOptions.color = colors[1];
                        return L.circleMarker(latlng, halteMarkerOptions);
                    }
                }).addTo(map);
            });

        {% if request.GET.message %}
            $.ajax("{% url 'msg_bounds_ajax' request.GET.message %}", {
                success : function(data, err, xhr) {
                    var array = data.object.extent,
                            south = [array[1], array[0]],
                            north = [array[3], array[2]];
                    /* Extent of one point = point, therefore zoom close to it if just one point */
                    if (south[0] === north[0] && south[1] === north[1]) {
                        map.setView(new L.LatLng(south[0], south[1]), 18);
                    } else {
                        map.fitBounds([south, north]);
                    }
                }
            })
        {% endif %}

            table_template = Handlebars.compile($("#table-template").html());
            button_template = Handlebars.compile($("#button-template").html());
        }
    </script>
    {% verbatim %}
    <script id="table-template" type="text/x-handlebars-template">
        <h3>{{ name }}</h3>
        <strong>TPC:</strong> {{ timingpointcode }}
        <table class="table table-bordered table-striped">
            <tr><th><strong>Volgnummer</strong></th><th><strong>Inhoud</strong></th></tr>
            {{#each object}}
            <tr>
                <td><a href="{{ makeStopMessageLink kv15stopmessage__id }}"><img src="/static/img/logos/{{ toLowerCase kv15stopmessage__dataownercode }}.png" class="icon_small" />
                    - {{ kv15stopmessage__messagecodenumber }}</a>
                </td>
                <td>{{ shorten kv15stopmessage__messagecontent }}</td></tr>
            {{/each}}
        </table>
        <a class="btn btn-xs btn-link" href="{% endverbatim %}{% url 'msg_add' %}{% verbatim %}?id={{ id }}"><i class="glyphicon glyphicon-plus"></i> Plaats bericht op deze halte</a>
    </script>
    <script id="button-template" type="text/x-handlebars-template">
        <h3>{{ name }}</h3>
        <strong>TPC:</strong> {{ timingpointcode }}<br />
        <a class="btn btn-xs btn-link" href="{% endverbatim %}{% url 'msg_add' %}{% verbatim %}?id={{ id }}"><i class="glyphicon glyphicon-plus"></i> Plaats bericht op deze halte</a>
    </script>
    {% endverbatim %}
{% endblock %}
