{% extends "base.html" %}
{% load i18n filters %}

{% block title %}Ritaanpassingen{% endblock %}

{% block content %}

  <h1>{% trans "Ritaanpassingen" %}</h1>

  <h2>{% trans "Actieve aanpassingen" %}
      {% if perms.openebs.add_change %}
        <div class="btn-group" style="float: right;">
          <a class="btn btn-success" href="{% url 'change_add' %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Nieuwe aanpassing" %}</a>
          <a class="btn btn-warning" href="{% url 'shorten_add' %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Nieuwe inkorting" %}</a>
        </div>
      {% endif %}
  </h2>
  {% regroup active_list by line as line_active_changes %}
  <div class="row">
  {% if line_active_changes|length == 0 %}
      <div class="col-md-12 col-lg-12 text-center"><em>{% trans "Geen berichten gevonden" %}</em></div>
  {% else %}
      <div class="col-md-6 col-lg-6">
      {% if line_active_changes|rows_distributed:"2" %}
          {% for line in line_active_changes|rows_distributed:"2"|first %}
            {% include "openebs/snippet_changes-line.html" %}
          {% endfor %}
      {% endif %}
      </div>
      <div class="col-md-6 col-lg-6">
      {% for line in line_active_changes|rows_distributed:"2"|last %}
        {% include "openebs/snippet_changes-line.html" %}
      {% endfor %}
      </div>
  {% endif %}
</div>

  <h2>Verlopen Aanpassingen</h2>
  <table class="table table-bordered table-condensed table-striped">
  <tr id="highlight">
        <th class="col-sm-2">{% trans "Ritdatum"%}</th>
        <th class="col-sm-1">{% trans "Begintijd" %}</th>
        <th class="col-sm-1">{% trans "Eindtijd" %}</th>
        <th class="col-sm-2">{% trans "Lijn" %}</th>
        <th class="col-sm-3">{% trans "Rit" %}</th>
        <td class="col-sm-1" align="center" style="vertical-align:middle;"><span class="glyphicon glyphicon-random" title="Rit ingekort"></span></td>
        <td class="col-sm-1" align="center" style="vertical-align:middle;"><span class="glyphicon glyphicon-ban-circle" title="Niet gevolgd"></span></td>
        <th class="col-sm-2">&nbsp;</th>

  </tr>
  {% for msg in archive_list %}
    <tr class="{% if msg.is_recovered %}warning{% endif %}">
        <td style="vertical-align:middle;">{{ msg.operatingday|date:"d-m-Y" }}</td></td>
        <td style="vertical-align:middle;">{% if msg.begintime %}{{ msg.begintime|time:"H:i" }}{% endif %}</td>
        <td style="vertical-align:middle;">{% if msg.endtime %}{{ msg.endtime|time:"H:i" }}{% endif %}</td>
        <td style="vertical-align:middle;">
            {% if msg.line %}
                {% if msg.line.lineplanningnumber != msg.line.publiclinenumber %}
                    {{ msg.line.publiclinenumber }} ({{ msg.line.lineplanningnumber }})
                {% else %}
                    {{ msg.line.publiclinenumber }}
                {% endif %}
            {% else %}
                {% trans "Alle lijnen van vervoerder" %}
            {% endif %}
        </td>
        {% if msg.journey %}
            <td style="vertical-align:middle;">{{ msg.journey.journeynumber }} <small>(Vertrek {{msg.journey.departuretime|seconds_time|date:"H:i"}})</small></td>
            <td align="center" id="halte-count">
                {% if msg.shorten_details.all %}
                <a class="shorten_halte-count btn btn-link" id="shorten_halte-count" href="{% url 'shorten_view' msg.id %}"
                       data-title="{% trans 'Haltes bij inkorting' %}" data-html="true" data-content="{% include 'openebs/snippet_halte-list_shorten.html' %}">
                        {{ msg.shorten_details.all | length }}</a>
                {% endif %}
            </td>
            <td align="center" style="vertical-align:middle;">
            {% if msg.monitoring_error %}
                <span class="glyphicon glyphicon-ban-circle" title="Rit niet gevolgd"></span>
            {% endif %}
            </td>
            <td align="center">
                {% if perms.openebs.add_change %}
                <form method="post" action="{% url 'change_redo' msg.id %}">
                    {% csrf_token %}
                    <button class="btn">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </form>
                {% endif %}
            </td>
        {% elif msg.line %}
            <td style="vertical-align:middle;">{% trans "Alle ritten" %}</td>
            <td align="center" id="halte-count">
                {% if msg.shorten_details.all %}
                <a class="shorten_halte-count btn btn-link" id="shorten_halte-count" href="{% url 'shorten_view' msg.id %}"
                       data-title="{% trans 'Haltes bij inkorting' %}" data-html="true" data-content="{% include 'openebs/snippet_halte-list_shorten.html' %}">
                        {{ msg.shorten_details.all | length }}</a>
                {% endif %}
            </td>
            <td align="center" style="vertical-align:middle;">
            {% if msg.monitoring_error %}
                <span class="glyphicon glyphicon-ban-circle" title="Lijn niet gevolgd"></span>
            {% endif %}
            </td>
            <td align="center" style="vertical-align:middle;">
                {% if perms.openebs.cancel_lines %}
                    <form method="post" action="{% url 'change_redo' msg.id %}">
                        {% csrf_token %}
                        <button class="btn">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                    </form>
                {% endif %}
            </td>
        {% else %}
            <td style="vertical-align:middle;">{% trans "Alle ritten van vervoerder" %}</td>
            <td align="center" id="halte-count">
                {% if msg.shorten_details.all %}
                <a class="shorten_halte-count btn btn-link" id="shorten_halte-count" href="{% url 'shorten_view' msg.id %}"
                       data-title="{% trans 'Haltes bij inkorting' %}" data-html="true" data-content="{% include 'openebs/snippet_halte-list_shorten.html' %}">
                        {{ msg.shorten_details.all | length }}</a>
                {% endif %}
            </td>
            <td align="center" style="vertical-align:middle;">
            {% if msg.monitoring_error %}
                <span class="glyphicon glyphicon-ban-circle" title="Vervoerder niet gevolgd"></span>
            {% endif %}
            </td>
            <td align="center" style="vertical-align:middle;">
                {% if perms.openebs.cancel_alllines %}
                    <form method="post" action="{% url 'change_redo' msg.id %}">
                        {% csrf_token %}
                        <button class="btn">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                    </form>
                {% endif %}
            </td>
        {% endif %}

    </tr>
  {% empty %}
      <tr><td colspan="8" class="text-center"><em>{% trans "Geen berichten gevonden" %}</em></td></tr>
  {% endfor %}
  </table>
  <p><small>{% trans "Rood = teruggedraaide aanpassing" %}</small></p>
{% endblock %}

{% block js_init %}
    $('.shorten_halte-count').popover({trigger : 'hover'});
{% endblock %}