{% extends "base.html" %}
{% load static crispy_forms_tags i18n %}

{% block title %}{% trans "Nieuwe ritaanpassing" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h2>Lijn
            {% if perms.openebs.cancel_alllines %}
                <button type="button" onclick="selectAllLines()" id="all_lines" class="btn btn-warning btn-right" style="float: right;" >{% trans "Hele vervoerder" %}</input></button>
            {% endif %}
        </h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" id="line_search" placeholder="{% trans 'Lijnnummer of eindbestemming' %}">
        </div><br />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% trans "Lijn" %}</th>
                    <th>{% trans "Eindbestemming" %}</th>
                </tr>
            </thead>
            <tbody id="rows">
                {% if first_lines %}
                    {% for first_line in first_lines %}
                        <tr class="line" id="l{{ first_line.pk }}">
                            <td><strong>{{ first_line.publiclinenumber }}</strong>
                                {% if first_line.publiclinenumber != first_line.lineplanningnumber %}
                                     / <small>{{ first_line.lineplanningnumber }}</small>
                                {% else %}
                                    <span class="hidden"><small>{{ first_line.lineplanningnumber }}</small></span>
                                {% endif %}
                            </td>
                            <td>{{ first_line.headsign }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2" class="text-center"><em>{% trans "Typ een eindbestemming of lijnnummer om een lijn te zoeken" %}</em></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-5">
        <h2>Ritten <span title="Dienstregelingsdatum" id="operating_day_text">{{ operator_date|date:"d-m-Y" }}</span>
            {% if perms.openebs.cancel_lines %}
                <button type="button" onclick="selectAllTrips()" id="all_journeys" class="btn btn-warning btn-right" style="float: right;" disabled>{% trans "Alle ritten" %}</button>
            {% endif %}
        </h2>
        <table class="table openebs-trips" id="trips">
            <thead>
                <tr>
                    <th>{% trans "Heen" %}</th>
                    <th>{% trans "Terug" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="help text-center"><td colspan="2"><em>Klik een lijn om ritten hier te zien</em></td></tr>
                <tr class="empty_dates text-center"><td colspan="2"><em>Er staan geen ritten in de database.<br />Neem contact op met de beheerder.</em></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3" id="ritaanpassing">
        <h2>{% trans "Ritaanpassing" %}</h2>
        {% if journey_errors > 0 %}
            <div class="alert alert-warning">
                <p><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;{% blocktrans %}Let op, {{ journey_errors }} geselecteerde rit(ten) zijn niet gevonden. Controlleer of de juiste ritten geselecteerd zijn.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form method="post" class="form" action="{% url 'change_add' %}">
            <div class="control-group row">
                <label class="col-lg-4">{% trans "Aanpassing" %}</label>
                <p class="col-lg-8 form-control-static" id="">
                    <span class="label label-danger">{% trans "Opheffen" %}</span>
                </p><br />
                <input type="hidden" id="journeys" name="journeys" />
                <input type="hidden" id="lines" name="lines" />
            </div>
            <div class="control-group">
                <div class = "lijn-overzicht" style="display: none;">
                    <label>{% trans "Lijn" %}</label>
                    <p class="form-control-static" id="lijn-list" >
                    {% if form.instance.line %}
                        <span class="label label-danger lijn-recover" id="line{{form.instance.line.lineplanningnumber}}">Lijn {{ form.instance.line.publiclinenumber }}</span>
                    {% elif lijnen %}
                        {% for l in lijnen %}
                            <span class="label label-danger lijn-preload" id="st{{l.lineplanningnumber}}">{% trans "Lijn" %}{{ l.publiclinenumber }}<span class="lijn-remove glyphicon glyphicon-remove"></span></span>
                        {% endfor %}
                    {% endif %}
                </p><br />
                </div>
                <div class = "rit-overzicht" style="display: block;">
                    <label>{% trans "Rit(ten)" %}</label>
                    <p class="form-control-static" id="rit-list">
                        {% if form.instance.journey %}
                            <span class="label label-danger rit-recover" id="l{{form.instance.line.publiclinenumber}}">Rit {{ form.instance.journey.journeynumber }}</span>
                        {% elif journeys %}
                            {% for j in journeys %}
                                <span class="label label-danger rit-preload" id="st{{j.pk}}">Rit {{ j.journeynumber }} <span class="trip-remove glyphicon glyphicon-remove"></span></span>
                            {% endfor %}
                        {% else %}
                            <em class="help">{% trans "Klik een rit om een selectie te maken" %}</em>
                        {% endif %}
                    </p><br />
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            {% crispy form form.helper %}
            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-primary">{% trans "Doorvoeren" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'bower_components/jquery-ui/ui/minified/core.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/widget.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/mouse.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/selectable.min.js' %}"></script>
    <script src="{% static 'js/add_msg_journey.js' %}"></script>
{% endblock %}
{% block js_init %}
    changeOperatingDayTrips();
    loadPreselectedJourneys();
    $('#line_search').on('keyup', changeSearch);
    $( "body" ).on('click', ".line", showTrips);
    $("#trips").selectable({
      filter:'td.trip',
      selected: selectTrip,
    });
    $('#rit-list').on('click', '.trip-remove', removeTripFromX);
    $('#lijn-list').on('click', '.line-remove', removeLineFromX);
    $('#id_operatingday').change(changeOperatingDayTrips);
    $('#id_begintime_part, #id_endtime_part').change(changeOfRange);
{% endblock %}
