{% extends "base.html" %}
{% load static crispy_forms_tags i18n %}

{% block title %}{% trans "Nieuwe ritaanpassing" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
        <h2>Lijn</h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" id="line_search" placeholder="{% trans 'Lijnnummer of eindbestemming' %}">
        </div><br />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% trans "Lijn" %}</th>
                    <th>{% trans "Eindbestemming" %}</th>
                </tr>
            </thead>
            <tbody id="rows">
                <tr>
                    <td colspan="2" class="text-center"><em>{% trans "Typ een eindbestemming of lijnnummer om een lijn te zoeken" %}</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <h2>Ritten <span title="Dienstregelingsdatum" id="operating_day_text">{{ operator_date|date:"d-m-Y" }}</span></h2>
        <div id="line_cancel_box" class="text-center" style="display: none;">
            <a id="line_cancel" class="btn btn-danger">{% trans "Alle ritten opheffen" %}</a>
        </div>
        <table class="table openebs-trips" id="trips">
            <thead>
                <tr>
                    <th>{% trans "Heen" %}</th>
                    <th>{% trans "Terug" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="help text-center"><td colspan="2"><em>Klik een lijn om ritten hier te zien</em></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h2>{% trans "Ritaanpassing" %}</h2>
        {% if journey_errors > 0 %}
            <div class="alert alert-warning">
                <p><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;{% blocktrans %}Let op, {{ journey_errors }} geselecteerde rit(ten) zijn niet gevonden. Controlleer of de juiste ritten geselecteerd zijn.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form method="post" class="form" action="{% url 'change_add' %}">
            <div class="control-group row">
                <label class="col-lg-4">{% trans "Aanpassing" %}</label>
                <p class="col-lg-8 form-control-static" id="">
                    <span class="label label-danger">{% trans "Opheffen" %}</span>
                </p><br />
                <input type="hidden" id="journeys" name="journeys" />
            </div>
            <div class="control-group">
                <label>{% trans "Rit" %}</label>
                <p class="form-control-static" id="rit-list">
                    {% if form.instance.journey %}
                        <span class="label label-danger rit-recover" id="l{{form.instance.line.publiclinenumber}}">Rit {{ form.instance.journey.journeynumber }}</span>
                    {% elif journeys %}
                        {% for j in journeys %}
                            <span class="label label-danger rit-preload" id="st{{j.pk}}">Rit {{ j.journeynumber }} <span class="trip-remove glyphicon glyphicon-remove"></span></span>
                        {% endfor %}
                    {% else %}
                        <em class="help">{% trans "Klik een rit om een selectie te maken" %}</em>
                    {% endif %}
                </p><br />
            </div>
            <div class="clearfix"></div>
            <br />
            {% crispy form form.helper %}
            <div class="form-group">
                    <br />
                    <button type="submit" class="btn btn-primary">{% trans "Doorvoeren" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'bower_components/jquery-ui/ui/minified/core.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/widget.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/mouse.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/ui/minified/selectable.min.js' %}"></script>
    <script src="{% static 'js/add_msg_journey.js' %}"></script>
{% endblock %}
{% block js_init %}
    changeOperatingDayTrips();
    loadPreselectedJourneys();
    $('#line_search').on('keyup', changeSearch);
    $( "body" ).on('click', ".line", showTrips);
    $("#trips").selectable({
      filter:'td.trip',
      selected: selectTrip,
    });
    $('#rit-list').on('click', '.trip-remove', removeTripFromX);
    $('#id_operatingday').change(changeOperatingDayTrips);
{% endblock %}
