{% extends "base.html" %}
{% load static crispy_forms_tags i18n %}

 {% block title %}{% trans "Nieuwe ritaanpassing" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
        <h2>Lijn</h2>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" id="line_search" placeholder="{% trans 'Lijnnummer of eindbestemming' %}">
        </div><br />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% trans "Lijn" %}</th>
                    <th>{% trans "Eindbestemming" %}</th>
                </tr>
            </thead>
            <tbody id="rows">
                <tr>
                    <td colspan="2" class="text-center"><em>{% trans "Typ een eindbestemming of lijnnummer om een lijn te zoeken" %}</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <h2>Ritten</h2>
        <div id="line_cancel_box" class="text-center" style="display: none;">
            <a id="line_cancel" class="btn btn-danger">{% trans "Alle ritten opheffen" %}</a>
        </div>
        <table class="table openebs-stops" id="stops">
            <tr class="help text-center"><td><em>Klik een lijn om ritten hier te zien</em></td></tr>
        </table>
    </div>
    <div class="col-lg-4">
        <h2>{% trans "Bericht" %}</h2>
        <form method="post" class="form" action="{% url 'msg_add' %}">
            <div class="control-group">
                <label>{% trans "Haltes" %}</label>
                <p class="form-control-static" id="halte-list">
                    {% if object.kv15messagestop_set.count > 0 %}
                        {% for halte in object.kv15messagestop_set.all %}
                            <span class="stop-selection pull-left label label-primary" id="ss{{ halte.stop.dataownercode }}_{{ halte.stop.userstopcode }}">{{ halte.stop.name }} (?)<span class="stop-remove glyphicon glyphicon-remove"></span></span>
                        {% endfor %}
                    {% else %}
                        <em class="help">{% trans "Klik haltenamen om een selectie te maken" %}</em>
                    {% endif %}
                </p><br />
                <input type="hidden" id="haltes" name="haltes"
                       value="{% for halte in object.kv15messagestop_set.all %}{{ halte.stop.dataownercode }}_{{ halte.stop.userstopcode }},{% endfor %}" />
            </div>
            <div class="clearfix"></div>
            {% crispy form form.helper %}
            <div class="form-group">
                    <br />
                    <button type="submit" class="btn btn-primary">{% trans "Toevoegen" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <!-- <script src="{% static 'js/jquery-ui-1.10.3.selectable.min.js' %}"></script> -->
    <script src="{% static 'js/add_msg.js' %}"></script>
{% endblock %}
{% block js_init %}
    $('#line_search').on('keyup', changeSearch);
    $( "body" ).on('click', ".line", showTrips);
{% endblock %}