{% load i18n filters %}

{% if line.grouper.publiclinenumber %}
    <h4>{% trans "Lijn" %} {{ line.grouper.publiclinenumber }} <small>{{ line.grouper.headsign }}</small></h4>
{% else %}
<h4>{% trans "Alle lijnen" %}</h4>
    {% trans "Alle ritten van vervoerder" as all_lines %}
{% endif %}

  <table class="table table-condensed table-bordered table-striped">
  <tr id="highlight">
      <th class="col-sm-2">{% trans "Ritdatum" %}</th>
      <th class="col-sm-4">{% trans "Ritnummer" %}</th>
      <td class="col-sm-1" align="center" style="vertical-align:middle;"><span class="glyphicon glyphicon-eye-close" title="Toon opgeheven rit niet"></span></td>
      <td class="col-sm-1" align="center" style="vertical-align:middle;"><span class="glyphicon glyphicon-transfer" title="Automatisch herstellen"></span></td>
      <th class="col-sm-1"></th>
  </tr>
  {% for msg in line.list %}
      <tr>
          <td>{{ msg.operatingday|date:"d-m-Y" }}</td>
          <td>
            {% if msg.journey %}
                {{ msg.journey.journeynumber }} <small>(Vertrek {{ msg.journey.departuretime|seconds_time|date:"H:i"}})</small>
            {% elif all_lines %}
                {{ all_lines }}
            {% else %}
              {% trans "Alle ritten" %}
            {% endif %}
          </td>
          <td align="center" style="vertical-align:middle;">
            {% if msg.showcancelledtrip %}
                <span></span>
            {% else %}
                <span class="glyphicon glyphicon-eye-close" title="Toon opgeheven rit niet"></span>
            {% endif %}
          </td>
          <td align="center" style="vertical-align:middle;">
            {% if msg.autorecover %}
                <span class="glyphicon glyphicon-transfer" title="Automatisch herstellen"></span></td>
            {% else %}
                <span></span>
            {% endif %}
          </td>
          <td>
            {% if msg.journey and perms.openebs.add_change %}
                <form method="post" action="{% url 'change_delete' msg.id %}">
                    {% csrf_token %}
                    <button class="btn btn-xs btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            {% elif msg.line and perms.openebs.cancel_lines %}
                <form method="post" action="{% url 'change_delete' msg.id %}">
                    {% csrf_token %}
                    <button class="btn btn-xs btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            {% elif not msg.journey or not msg.line and perms.openebs.cancel_alllines %}
                <form method="post" action="{% url 'change_delete' msg.id %}">
                    {% csrf_token %}
                    <button class="btn btn-xs btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            {% endif %}
          </td>
      </tr>
  {% endfor %}
  </table>