{% load i18n filters %}
<h4>{% trans "Lijn" %} {{ line.grouper.publiclinenumber }} <small>{{ line.grouper.headsign }}</small></h4>
  <table class="table table-condensed table-bordered">
  <tr>
      <th class="col-sm-4">{% trans "Ritnummer" %}</th>
      <th class="col-sm-1">&nbsp;</th>
  </tr>
  {% for msg in line.list %}
      <tr>
          {% if msg.journey %}
          <td>{{ msg.journey.journeynumber }} <small>(Vertrek {{ msg.journey.departuretime|seconds_time|date:"H:i"}})</small></td>
          {% else %}
          <td>{% trans "Alle ritten" %}</td>
          {% endif %}
          <td>
            {% if perms.openebs.add_change %}
                <form method="post" action="{% url 'change_delete' msg.id %}">
                    {% csrf_token %}
                    <button class="btn btn-xs btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            {% endif %}
          </td>
      </tr>
  {% endfor %}
  </table>