{% load i18n filters %}
{% if line.grouper.publiclinenumber %}
    {% if line.grouper.lineplanningnumber != line.grouper.publiclinenumber %}
        <h4> {% trans "Lijn" %} {{ line.grouper.publiclinenumber }} / {{ line.grouper.lineplanningnumber }} <small>{{ line.grouper.headsign }}</small></h4>
    {% else %}
        <h4>{% trans "Lijn" %} {{ line.grouper.publiclinenumber }} <small>{{ line.grouper.headsign }}</small></h4>
    {% endif %}
{% else %}
    <h4>{% trans "Alle lijnen" %}</h4>
    {% trans "Alle ritten van vervoerder werden geannuleerd" as all_lines %}
{% endif %}
      <table class="table table-condensed table-bordered">
      <tr>
          <th class="col-sm-2">{% trans "Datum" %}</th>
          <th class="col-sm-2">{% trans "Begintijd" %}</th>
          <th class="col-sm-2">{% trans "Eindtijd" %}</th>
          <th class="col-sm-4">{% trans "Ritnummer" %}</th>
          <th class="col-sm-1">&nbsp;</th>
      </tr>
      {% for msg in line.list %}
          <tr>
              <td>{{ msg.operatingday|date:"d-m-Y" }}</td>
              {% if msg.begintime %}
                <td>{{ msg.begintime|time:"H:i" }}</td>
              {% else %}
                <td></td>
              {% endif %}

              {% if msg.endtime %}
                <td>{{ msg.endtime|time:"H:i" }}</td>
              {% else %}
                <td></td>
              {% endif %}

              {% if msg.journey %}
                <td>{{ msg.journey.journeynumber }} <small>(Vertrek {{ msg.journey.departuretime|seconds_time|date:"H:i"}})</small></td>
              {% elif all_lines %}
                <td>{{ all_lines }}</td>
              {% else %}
                <td>{% trans "Alle ritten" %}</td>
              {% endif %}
              <td>
                {% if perms.openebs.add_change %}
                    <form method="post" action="{% url 'change_delete' msg.id %}">
                        {% csrf_token %}
                        <button class="btn btn-xs btn-danger pull-right">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                {% endif %}
              </td>
          </tr>
      {% endfor %}
      </table>