{% comment %} These listeners are required for the linepicker {% endcomment %}
{% comment %} readHaltesField(); {% endcomment %}
changeOperatingDayTrips();
{% comment %} loadPreselectedJourneys(); {% endcomment %} /* Restore our selection */
$("#stops").selectable({
  filter:'td.stop',
  selected: selectStop,
  cancel: 'img'
});

$("#trips").selectable({
  filter:'td.trip',
  selected: selectTrip,
});

$( "#line_search" ).on('keyup', changeSearch);
$( "body" ).on('click', ".line", showTrips);

$('#rit-list').on('click', '.trip-remove', removeTripFromX);
$('#lijn-list').on('click', '.line-remove', removeLineFromX);
$('#id_operatingday').change(changeOperatingDayTrips);
$('#id_begintime_part').change(changeOfRange);
$('#id_endtime_part').change(changeOfRange);

$( "body" ).on('click', ".stop-remove", removeStopFromX);
$( "body" ).on('click', ".stop.success", lineRemoveStop);

$( "#stops" ).on('click', ".stop-img.stop-both", selectStopFromBall);
$( "#stops" ).on('click', ".stop-img.stop-left", selectStopFromBall);
$( "#stops" ).on('click', ".stop-img.stop-right", selectStopFromBall);
