* {
  font-family: 'Roboto', sans-serif;
}
img.user-icon {
    width: 36px;
}

table.openebs-stops tbody tr td{
    font-size: 85%;
    padding: 0;
    vertical-align: middle;
}
table.openebs-stops td.img{
    border: 0px;
}
table.openebs-stops tr:hover td.img{
    border: 0px;
}
span.stop-selection,span.trip-selection{
    margin: 0.1em;
}
.ui-selectable .ui-selecting { background: #fcf8e3; }
.ui-selectable .ui-selecting.success { background: #f2dede; }
.ui-selectee:hover{
    background-color: #f5f5f5
}
.stop-check{
    color: green;
}

#map {
    min-height: 800px;
    height: inherit;
    width: 100%;
    top: -20px;
}

.container {
    max-width: none;
    min-width: none;
}
.badge-success { background-color: #5cb85c; }
.badge-warning { background-color: #f0ad4e; }
.badge-danger { background-color: #d9534f }
.btn-tall {
    height: 150px;
}

/* Calendar */
#calendar table {
    width: 80%;
    border: 1px solid #ddd;
}

#calendar table tr th {
    text-align: center;
    font-size: 16px;
}

#calendar table tr td {
    width: 10%;
    vertical-align: top;
    border: 1px solid #ddd;
    height: 45px;
    padding: 2px;
}
#calendar table tr td span.day {
    font-size: 75%;
    color: #777;
    padding-left: 2px;
}
#calendar table tr td ul {
    padding: 0;
    margin: 0;
}
#calendar table tr td li {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    text-style:
}

#calendar td.noday {
    background-color: #f2dede;
}

#calendar td.filled {
    background-color: #fff;
}

#calendar td.today {
    background-color: #dff0d8;
}

#calendar a {
    font-size: 10px;
}