* {
  font-family: 'Roboto', sans-serif;
}
img.user-icon {
    width: 36px;
}

table.openebs-stops tbody tr td{
    font-size: 85%;
    padding: 0;
    vertical-align: middle;
}
table.openebs-stops td.img{
    border: 0px;
}
table.openebs-stops tr:hover td.img{
    border: 0px;
}
span.stop-selection{
    margin: 0.1em;
}
#stops .ui-selecting { background: #fcf8e3; }
#stops .ui-selecting.success { background: #f2dede; }
.stop:hover{
    background-color: #f5f5f5
}
.stop-check{
    color: green;
}

#map {
    height: 600px;
}

.container {
    max-width: none;
    min-width: none;
}
.badge-success { background-color: #5cb85c; }
.badge-warning { background-color: #f0ad4e; }
.badge-danger { background-color: #d9534f }